* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color-sidebar: #2d333b;
    --bg-color-li-hover: rgba(34, 39, 46, 0.6);
    --bg-color-content: #22272e;
    --text-light: #adbac7;
    --blue: #539bf5;
    --green: #347d39;
    --red: #c94f4a;
}

body {
    display: flex;
    height: 100%;
    min-height: 100vh;
    color: var(--text-light);
    font-family: sans-serif;
}

h1 {
    color: var(--blue);
}

h2 {
    color: var(--text-light);
    font-style: italic;
}

ul {
    list-style: none;
}


/***********************
SIDEBAR
***********************/

.sidebar {
    background-color: var(--bg-color-sidebar);
    flex: 1;
    min-width: 250px;
}

li:hover {
    cursor: pointer;
    background-color: var(--bg-color-li-hover);
}

button {
    padding: 8px;
    border: 0;
}

button:hover {
    cursor: pointer;
}


/***********************
CONTENT
***********************/

.content {
    background-color: var(--bg-color-content);
    flex: 3;
    padding: 64px;
    display: flex;
    flex-direction: column;
}


/***********************
ADD TODO FORM
***********************/

.todo-form {
    display: grid;
    align-items: center;
    grid-template-rows: 36px auto auto auto;
    grid-template-columns: 1fr 36px;
    margin-bottom: 32px;
    border-bottom: 6px solid var(--blue);
}

.form-title-div,
.form-date-div,
.form-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title-div {
    grid-column: 1;
}

.form-date-div {
    grid-column: 1;
}

.form-title-div>input,
.form-date-div>input,
.form-description-div>textarea {
    flex: 1;
}

.todo-form input,
.todo-form textarea {
    background-color: var(--bg-color-sidebar);
    color: var(--text-light);
    border: 1px solid var(--blue);
    padding: 8px;
    font-size: 1rem;
}

.form-select-div {
    background-color: var(--bg-color-sidebar);
    color: var(--text-light);
    align-items: center;
    padding: 0 8px;
    gap: 16px;
    border: 1px solid var(--blue);
}

.form-select-div select {
    background-color: var(--bg-color-content);
    color: var(--text-light);
    padding: 8px;
    font-size: 1rem;
    border: 0;
}

.form-button {
    width: 108px;
    background-color: var(--green);
    color: var(--text-light);
    font-weight: 700;
    opacity: 0.8;
    border: 0;
    grid-column: 1;
    margin: 8px 0 32px 0;
}

.form-button:hover {
    cursor: pointer;
    opacity: 1;
}

form svg {
    display: flex;
    justify-self: center;
    grid-column: 2;
    grid-row: 1;
    transition: all .3s ease;
}

form svg:hover {
    cursor: pointer;
    color: var(--blue);
}

.form-required {
    display: none;
    grid-column: 1;
    grid-row: 2;
    color: var(--red);
    font-style: italic;
    margin: 8px 0;
}

#form-title:focus:invalid {
    border: 1px solid red;
}

#form-title:focus:invalid+.form-required {
    display: block;
    position: absolute;
    right: 25px;
    top: 0px;
}


/* 
form>div {
    position: relative;
}

form>div>label {
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 4px;
}

input:focus+label {
    opacity: 0;
}

input:not(:placeholder-shown)+label {
    opacity: 0;
}

*/

.form-optional {
    grid-column: 1;
    display: none;
}


/***********************
 TODO CARD
***********************/

.card-form {
    display: grid;
    align-items: center;
    grid-template-rows: 36px;
    grid-template-columns: min-content 1fr 36px 36px;
    gap: 8px;
    border: 2px solid var(--bg-color-sidebar);
    padding: 8px;
    margin-bottom: 16px;
    transition: all 1s ease;
}

.todo-card-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-card-optional {
    grid-column: 2 / 3;
    display: none;
}

.todo-card-input {
    background-color: var(--bg-color-sidebar);
    color: var(--text-light);
    opacity: 1;
    border: 0;
    /* border-bottom: 1px solid var(--blue); */
    padding: 8px;
    font-size: 1rem;
}

.todo-card img {
    display: flex;
    justify-self: center;
    transition: all .3s ease;
    grid-row: 1;
    grid-column: 3/4;
}

.todo-card img:nth-last-child(1) {
    grid-column: 3/4;
}

.todo-card img:nth-last-child(2) {
    grid-column: 4/5;
}

.todo-card img:hover {
    cursor: pointer;
    color: var(--blue);
}


/***********************
JS CLASS
***********************/

.show {
    display: flex;
}

.rotate {
    transform: rotate(180deg);
}

.inPast {
    border-left: 3px solid var(--red);
}

.activeSelection {
    background-color: var(--bg-color-li-hover);
    color: var(--blue);
    font-size: 1.3rem;
    padding: 8px 0 8px 16px;
    margin: 8px 0;
    text-align: start;
}

.removed {
    opacity: 0;
}